---
import Button from '../components/Button.astro';
import Layout from '../layouts/layout.astro';
---

<Layout title='David Adediji | Home'>
	<main class="flex flex-col items-center h-[90%] px-32">
		<h1 class="text-xl">David Adediji</h1>
		<p>Software Enginneer</p>
		<Button navText="Learn more about me"/>
	</main>
</Layout>
<!-- Inter, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif -->