---
import Layout from '../layouts/layout.astro';
---

<Layout title='David Adediji | Home'>
	<main class=" flex flex-col gap-5">
		<section class="mt-[25%]">
			<p>Hello 👋</p>
			<p>My name is</p>
			<h1 class='text-4xl'>David Adediji</h1>
			<p class="text-sm">
				I am a software engineer, Currently focused on building experiences on
				the web...
			</p>
		</section>

		<section>
			<ul class="flex flex-col gap-2">
				<li class="font-inter text-link-color text-3xl opacity-60 font-extrabold hover:opacity-100 origin-left transition-transform-opacity ease-out duration-200 hover:scale-110 hover:translate-x-1 hover:-translate-y-0.5"><a href='/about'>About</a></li>
				<li class="font-inter text-link-color text-3xl opacity-60 font-extrabold hover:opacity-100 origin-left transition-transform-opacity ease-out duration-200 hover:scale-110 hover:translate-x-1 hover:-translate-y-0.5"><a href='/blogs'>Blogs</a></li>
				<li class="font-inter text-link-color text-3xl opacity-60 font-extrabold hover:opacity-100 origin-left transition-transform-opacity ease-out duration-200 hover:scale-110 hover:translate-x-1 hover:-translate-y-0.5"><a href='/projects'>Projects</a></li>
			</ul>
		</section>
	</main>
</Layout>
<!-- Inter, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif -->