---

import Layout from '../layouts/layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../layouts/hero.astro';
import { navItems } from '../data/data';
import About from '../layouts/about.astro';
import Portfolio from '../layouts/portfolio.astro'
import Contacts from '../layouts/contacts.astro';
import Services from '../layouts/services.astro';
import Footer from '../components/Footer.astro';

---

<Layout title='David Adeyinka | Home'>
		<main class=" font-satoshi">
			<Navbar navItems={navItems}/>
			<Hero title='hero'/>
			<About title='About'/>
			<Services/>
			<Portfolio/>
			<Contacts title='Contact Me'/>
			<Footer/>
		</main>
</Layout>
