---
import Layout from "../layouts/layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="David Adediji | Projects">
    <h1 class="text-5xl">Projects</h1>
    <Button navText="Home"/>
</Layout>