---
import { Image } from '@astrojs/image/components';
interface Props{
    imageurl:string
    title:string
    summary:string
}
const {imageurl, title, summary} = Astro.props as Props
---

<div class="border border-gray-100 rounded-lg bg-gray-300 text-black p-6">
	<div class=" mb-3">
		<Image
			src={imageurl}
			width={100}
			height={80}
			format='jpeg'
			alt='descriptive text'
			class='rounded-xl flex-end'
		/>
	</div>
    <h2 class="text-lg font-medium">{title}</h2>
    <p class="mt-2">{summary}</p>
</div>
