---
type Navitems = {
	path: string;
	page: string;
};
export interface Props {
	navItems: Navitems[];
}
const { navItems } = Astro.props as Props;
---

<nav class='flex justify-between px-14 py-5'>
	<h1 class=" font-mono text-sm">
		<a href='/'>deyinka</a>
	</h1>
	<ul class='flex gap-5 text-sm'>
		{
			navItems.map((item) => (
				<li>
					<a href={item.path}>{item.page}</a>
				</li>
			))
		}
	</ul>
</nav>