---
import { Props } from './layout.astro';
import { Image } from '@astrojs/image/components';
const { title } = Astro.props as Props;
---

<section id='about' class='px-28 flex py-14'>
	<section class="w-[50%]">
		<Image src="/project-management.jpeg" format='jpeg' width={500} height={420} alt='' class='rounded-3xl'/>
	</section>
	<section class="w-[50%]">
		<h2 class=" font-semibold text-3xl text-[#0039a6] py-5">{title}</h2>
		<p>
			A seasoned Project Professional & Scrum master adept at leading co-located
			& remote teams on daunting technology projects to deliver laudable
			results. I have leveraged my knowledge of agile & waterfall methodologies
			garnered in 3 years to deliver technology solutions that achieved key
			business objectives for many startups across Finance, Manufacturing,
			Edtech and Blockchain sectors.
		</p>
	</section>
</section>
