---
import { Props } from './layout.astro';
import { Image } from '@astrojs/image/components';
import { navItems } from '../data/data';
import Navbar from '../components/Navbar.astro';
const { title } = Astro.props as Props;
---

<section class='bg-gray-900 text-white'>
	<section class='flex justify-between mx-auto max-w-5xl py-24'>
		<section id='home' class='w-[50%] pt-8'>
			<p class='font-roboto text-2xl text-[#fff]'>Hello there 👋, I am</p>
			<p class='text-5xl font-semibold my-5'>I am Adeyinka David</p>
			<p>
				An Experienced Project Manager, recognized for driving sales growth and leading innovative product development in Blockchain and Edtech industry.
			</p>
		</section>
		<section class='w-[50%] flex justify-center'>
			<div>
				<Image
					src='/profile-deyinka.jpeg'
					width={350}
					height={450}
					format='jpeg'
					alt='descriptive text'
					class='rounded-xl flex-end'
				/>
			</div>
		</section>
	</section>
</section>
