---
import { Props } from './layout.astro';
import { Image } from '@astrojs/image/components';
import { navItems } from '../data/data';
import Navbar from '../components/Navbar.astro';
const { title } = Astro.props as Props;
---

<section class='bg-gray-900 text-white'>
	<section
		class='flex justify-between lg:flex-row flex-col lg:mx-auto lg:max-w-5xl lg:py-24 py-10 gap-5'
	>
		<section id='home' class='lg:w-[50%]'>
			<p
				class='font-sora lg:text-2xl text-xl lg:text-left text-center text-[#fff]'
			>
				Hello there 👋, I am
			</p>
			<p
				class='lg:text-5xl text-3xl text-center lg:text-left font-semibold my-5'
			>
				Adeyinka David
			</p>
			<p
				class='lg:text-normal lg:text-xl text-base px-3 lg:px-0 text-center lg:text-left sm:max-w-3xl sm:mx-auto'
			>
				Resourceful project manager, offering a dynamic career history of
				success driving outstanding sales growth and leading innovative product
				development in Web3 and many sectors... Thank you for visiting!
			</p>
			<p class="mt-6 text-center lg:text-left">
				<a
					href='#contact'
					class='bg-[#fff] text-black rounded-sm px-3 py-2 text-center text-base hover:bg-[#0039a6] hover:text-white'
					>Hire Me</a
				>
			</p>
		</section>
		<section class='lg:w-[50%] flex justify-center'>
			<div>
				<Image
					src='/profile-deyinka.jpeg'
					width={350}
					height={450}
					format='jpeg'
					alt='descriptive text'
					class='rounded-xl flex-end'
				/>
			</div>
		</section>
	</section>
</section>
