---
import { Props } from "./layout.astro";
const {title} = Astro.props as Props
---

<section class="px-14 py-24">
    <section>
        <p>Hello there, my name is David Adeyinka</p>
    </section>
    <section>
        <img src="" alt="">
    </section>
</section>