---
import { Props } from './layout.astro';
import { Image } from '@astrojs/image/components';
import { navItems } from '../data/data';
import Navbar from '../components/Navbar.astro';
const { title } = Astro.props as Props;
---

<section class='bg-gray-900 text-white'>
	<section class='flex justify-between lg:flex-row flex-col lg:mx-auto lg:max-w-5xl lg:py-24 py-10 gap-5'>
		<section id='home' class='lg:w-[50%]'>
			<p class='font-roboto lg:text-2xl text-lg lg:text-left text-center text-[#fff]'>Hello there 👋, I am</p>
			<p class='lg:text-5xl text-2xl text-center lg:text-left font-semibold my-5'>Adeyinka David</p>
			<p class="lg:text-normal text-sm text-center lg:text-left lg:max-w-0 max-w-3xl mx-auto">
				An Experienced Project Manager, recognized for driving sales growth and leading innovative product development in Blockchain and Edtech industry.
			</p>
		</section>
		<section class='lg:w-[50%] flex justify-center'>
			<div>
				<Image
					src='/profile-deyinka.jpeg'
					width={350}
					height={450}
					format='jpeg'
					alt='descriptive text'
					class='rounded-xl flex-end'
				/>
			</div>
		</section>
	</section>
</section>
