---
import '../styles/global.css';
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet">
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class='h-screen font-sora'>
		<slot />
	</body>
</html>
